<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-12"></div>

        <div class="col-md-8 col-md-offset-2">
            <hr>
            <h2 class="text-center">About Us</h2>
            <hr>
            <div class="col-md-7 ">

                <br>
                <div class="row">
                    <p>We are a team of passionate individuals. We work and play well together and we love what we do, which is evident in each and every event we produce.</p>
                </div>
                <hr>
                <div class="row">
                    <p>My passions are to travel, meet new people, and learn something new every day. This is true in both my personal life and in my career. I’ve been in the event business for 16 years and have traveled the world producing over 400 hundred events in 9 countries, each expanding my horizons in some way.Today I’m constantly seeking projects that expose me to new challenges. Whether that’s doing an event in a new city, or using technology in a whole new way, or bringing an ambitious idea to life, I’m game.</p>
                </div>
                <div class="row">
                    <p>Just like you, I want to create that completely original, utterly unforgettable event. But most importantly, I want it to be a reflection of you and bring out the best in you. If you want zombies at your 50th birthday party, or a Beatles-go-to-India themed wedding, we’ll make it happen.</p>
                </div>
                <div class="row">
                    <p>To do that, I look for clients who are adventurous, open to collaborating and up for doing something that’s never been done. Like creating a magical ceremony under 200-year-old redwoods, or even having Chris Martin from Coldplay perform for your first dance. (Yes, this happened!)</p>
                </div>
                <div class="row">
                    <p>My team and I do six to eight weddings a year both in northern California and across the globe. Our strengths compliment each other allowing us to be a rare combination of visionary and detail-oriented as well as intensely dedicated and laid back. We’re all aware of the latest trends, but don’t feel compelled to follow them. We know and appreciate all of the classic rules of etiquette, and we can either follow them “to a T”, or throw them out the window. And, we understand the challenges that come with merging families and cultures. Having just gotten married, I’m well versed in diplomacy.</p>
                </div>
                <div class="row">
                    <p>If my team and I sound like the kind of people you’d like to create your event with, let’s talk.</p>
                    <br>
                </div>
            </div>
            <div class="col-md-1 ">
            </div>

            <div class="col-md-4">
                <br>


                <div class="row">
                    <img src="images/aboutUs/disha.jpg" class="img-responsive" alt="wedding-photography-image" id="abtImg"	/></a>
                </div>
                <br>
                <div class="row">
                    <img src="images/aboutUs/lahari.jpg" class="img-responsive" alt="wedding-photography-image" id="abtImg"	/></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <img src="images/aboutUs/vandana.png" class="img-responsive" alt="wedding-photography-image" id="abtImg"/></a>
                    </div>
                    <div class="col-md-4">
                        <img src="images/aboutUs/ruchira.jpg" class="img-responsive" alt="wedding-photography-image" id="abtImg"/></a>
                    </div>
                    <div class="col-md-4">
                        <img src="images/aboutUs/parima.jpg" class="img-responsive" alt="wedding-photography-image" id="abtImg"	/></a>
                    </div>
                </div>
            </div>

</div>
    </div>
</div>
