 <div class="imageclass1">
    <div class="col-md-8 col-md-offset-2" id="posCont">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom">
                    <div class="panel-title">
                        <div class="row" id="headerColor" >
                            <div class="col-xs-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
                            </div>
                            <div class="col-xs-6">
                                <button type="button" class="btn btn-default btn-sm btn-block">
                                    <span class="glyphicon glyphicon-share-alt"></span> Continue shopping
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-init="x=0"></div>
                    <div class="row" ng-repeat="r in carts">
                        <div hidden>{{ x=x+r.Price}}</div>
                        <div class="col-xs-2" style="padding: 3px;"><img class="img-responsive" src=images/{{r.imagename}}>
                        </div>
                        <div class="col-xs-4">
                            <h4 class="product-name"><strong>{{r.name}}</strong></h4><h4><small>{{r.ServiceType}}</small></h4>
                        </div>
                        <div class="col-xs-6">
                            <div class="col-xs-6 text-right">
                                <h6><strong>{{r.Price}}<span class="text-muted">x</span></strong></h6>
                            </div>
                            <div class="col-xs-4">
                                <input type="text" class="form-control input-sm" value="1">
                            </div>
                            <div class="col-xs-2">
                                <button type="button" class="btn btn-link btn-xs">
                                    <span class="glyphicon glyphicon-trash"> </span>
                                </button>
                            </div>
                        </div>

                    </div>
                    <hr>

                    <hr>

                </div>
                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-xs-9">
                            <h4 class="text-right">Total <strong ng-controller="CartController" ng-bind="carlength*1500"></strong></h4>
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="btn btn-success btn-block">
                                Checkout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
 </div>
<link rel="stylesheet" type="text/css" href="css/style.css">


