<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-12"></div>
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-4">
                <hr>
                <h2 class="text-center">Contact Us</h2>
                <hr>
                <br>
                <div class="row">
                    <p>We are here to help and make your event a memorable one. Feel free to contact us!</p>
                </div>
                <br>
                <div class="row">
                    <p><b>For general inquiries:</b><br><a href="mailto:info@eliteevents.com">info@eliteevents.com</a></p>
                </div>
                <br>
                <div class="row">
                    360 Huntington Ave.<br>
                    Boston, MA 02115<br>
                    1-354-833-8368<br>
                    <a href="https://www.google.com/maps/place/Elite+Events">Click here to get directions</a>
                </div>

            </div>
            <br>
            <br>
            <!-- Reviews start -->
            <div class="col-md-7 col-md-offset-1">

                <div class="well well-lg">
                    <h2 class="text-center"><b> Write to us </b></h2>
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="Subject">* Subject:</label><br>
                            <input type="text" class="form-control" id="subject" placeholder="Enter subject"><br><br>
                            <label for="message">* Message:</label><br>
                            <textarea name="Message" id="message" rows="7" cols="40" style="width:350px;" placeholder="Begin typing..."></textarea><br>
                            <input type="submit" value="Submit" class="form-control" id="submit" >

                            <br>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
