
    <div class="row">
        <div>
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src='images/{{galVendor.imageName}}'>
                </div>
                <div id="gallerytitle" class="text-center" >
                    {{galVendor.firstname}}
                </div>
            </div>
        </div>
    </div>


<!-- COVER PHOTO AND PROFILE PICTURE END -->
<br>
<br>


<!-- Wedding section 1 -->
<div class="container">


    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="/displaygallery"  >
            <img class="img-responsive" src="image-g/3.jpg" alt="Short alt text">
        </a>
    </div>



    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="/displaygallery" >
            <img  src="image-g/27.jpg" class="img-responsive" alt="image2">
        </a>

    </div>



    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <a class="thumbnail" href="/displaygallery" >
            <img  src="image-g/26.jpg" class="img-responsive" alt="imag3">
        </a>

    </div>



    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <a class="thumbnail" href="/displaygallery" >
            <img   src="image-g/28.jpg" class="img-responsive" alt="image5">
        </a>

    </div>
</div>



<br>
<br>
<!-- Wedding section 2-->
<div class="container">

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <a class="thumbnail" href="/displaygallery" >
            <img  src="image-g/29.jpg" class="img-responsive" alt="image9">
        </a>

    </div>


    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <a class="thumbnail" href="/displaygallery"  >
            <img   src="image-g/6.jpg" class="img-responsive" alt="image8">
        </a>

    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <a class="thumbnail" href="/displaygallery" >
            <img   src="image-g/31.jpg" class="img-responsive" alt="image11">
        </a>

    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <a class="thumbnail" href="/displaygallery" >
            <img   src="image-g/8.jpg" class="img-responsive" alt="image12">
        </a>

    </div>


</div>


<div class="text-center">
    <ul class="pagination">
        <li><a href="/showgal">1</a></li>
        <li><a href="/showgal1">2</a></li>
    </ul>
</div>

</div>


<link rel="stylesheet" href="css/gallary.css">