<!-- COVER PHOTO AND PROFILE PICTURE-->

    <div class="row">
        <div>
            <div class="card hovercard">
                <div class="cardheader">
                </div>
                <div class="avatar">
                    <img alt="" src='images/{{galVendor.imageName}}'>
                </div>
                <div id="gallerytitle" class="text-center" >
                    {{galVendor.firstname}}
                </div>
            </div>
        </div>
    </div>


<!-- COVER PHOTO AND PROFILE PICTURE END -->
<br>
<br>

<!-- Wedding section 1 -->
<div class="container">

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="/displaygallery" >
            <img class="img-responsive" src="image-g/17.jpg" alt="Short alt text">
        </a>
    </div>



    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="/displaygallery" >
            <img  src="image-g/18.jpg" class="img-responsive" alt="image15" >
        </a>

    </div>



    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <a class="thumbnail" href="/displaygallery" >
            <img  src="image-g/19.jpg" class="img-responsive" alt="image17" >
        </a>

    </div>



    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <a class="thumbnail" href="/displaygallery" >
            <img  src="image-g/25.jpg" class="img-responsive" alt="image89" >
        </a>

    </div>
</div>



<br>
<br>
<!-- Wedding section 2-->
<div class="container">

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <a class="thumbnail" href="/displaygallery" >
            <img  src="image-g/13.jpg" class="img-responsive" alt="img4">
        </a>

    </div>


    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <a class="thumbnail" href="/displaygallery" >
            <img   src="image-g/14.jpg" class="img-responsive" alt="ikm8">
        </a>

    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <a class="thumbnail" href="/displaygallery" >
            <img   src="image-g/15.jpg" class="img-responsive" alt="img9">
        </a>

    </div>

    <div class="col-lg-3 col-md-4 col-xs-6 thumb">

        <a class="thumbnail" href="/displaygallery" >
            <img   src="image-g/16.jpg" class="img-responsive" alt="img1">
        </a>

    </div>


</div>


<div class="text-center">
    <ul class="pagination">
        <li><a href="/showgal">1</a></li>
        <li><a href="/showgal1">2</a></li>
    </ul>
</div>

