
<!-- NAVBAR SECTION END-->
<section id="home-sec"  class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=2ANtdCySCRY',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,mute: true,showControls:false}">

	<div id="bg_container">
		<div class="overlay"  >
			<div class="container" >
				<div class="row text-center">
					<div class="col-md-12">
						<h2><br><br><br><br>Consider it done.</h2>
						<h4> From venue to photography, we bring you the right pros for every event in your life</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ViDeO SECTION END-->



<!-- Container (Services Section) -->

<div class="text-center icons" >
	<br>
	<div class="row">
		<div class="col-sm-1 col-md-offset-3">
			<!-- <object type="image/svg+xml" data="images/photo-camera.svg">Your browser does not support SVG</object> -->
			<a style="text-decoration: none;" href="/showvendorphoto"><img class="logo-small" src="images/icons/Dslr-Camera-icon.png" alt="Camera-icon">
				<h4 class="icontext">PHOTOGRAPHY</h4></a>
		</div>
		<div class="col-sm-1">
			<a style="text-decoration: none;" href="/showvendorcaterer"><img class="logo-small" src="images/icons/Food-Dome-icon.png" alt="Catering-icon">
				<!-- <object type="image/svg+xml" data="images/catering.svg">Your browser does not support SVG</object> -->
				<h4 class="icontext">CATERING</h4></a>
		</div>
		<div class="col-sm-1">
			<a style="text-decoration: none;" href="/showvendorvenue"><img class="logo-small" src="images/icons/location-icon.png" alt="Venue-icon">
				<!-- <object type="image/svg+xml" data="images/party.svg">Your browser does not support SVG</object> -->
				<h4 class="icontext">VENUE</h4></a>
		</div>
		<div class="col-sm-1">
			<a style="text-decoration: none;" href="/showvendordecoration" du-smooth-scroll du-scrollspy><img  class="logo-small" src="images/icons/Party-Poppers-icon.png" alt="Decoration-icon">
				<!-- <object type="image/svg+xml" data="images/hotel.svg">Your browser does not support SVG</object> -->
				<h4 class="icontext">DECORATION</h4></a>
		</div>
		<div class="col-sm-1">
			<a style="text-decoration: none;" href="/showvendorphoto"><img  class="logo-small" src="images/icons/video-camera-classic-icon.png" alt="Videography-icon">
				<h4 class="icontext">VIDEOGRAPHY</h4></a>
		</div>
		<div class="col-sm-1">
			<a style="text-decoration: none;" href="/showvendorphoto"><img  class="logo-small" src="images/icons/Makeup-icon.png" alt="Makeup-icon">
				<h4 class="icontext">MAKE-UP</h4></a>
		</div>

	</div>
	<br><br>

</div>

<!-- section end -->

<div class="background container">

	<div class="col-md-12"><h1 class="text-center"><a href="/showvendorphoto">Wedding</a></h1></div>
	  <div class="col-md-8 col-md-offset-2">

		<div id="jc1" class="jcarousel-wrapper">
			<div class="jcarousel">
				<ul>
					<li><figure><img src="images/wedding/wedding-photography.jpg" class="img-responsive" alt="wedding-photography-image"/>
						<figcaption>Photographer</figcaption></figure></li>
					<li><figure><img src="images/wedding/wedding_catering.jpg" class="img-responsive" alt="wedding-catering-image"/>
						<figcaption>Catering</figcaption></figure></li>
					<li><figure><img src="images/wedding/wedding-venue.jpg" class="img-responsive" alt="wedding-venue-image"/>
						<figcaption>Venue</figcaption></figure></li>
					<li><figure><img src="images/wedding/wedding_makeup.jpg" class="img-responsive" alt="wedding-makeup-image"/>
						<figcaption>Make-up</figcaption></figure></li>
					<li><figure><img src="images/grad/grad-photobooth.jpg" class="img-responsive" alt="grad-photobooth-image"/>
						<figcaption>Photo Booth</figcaption></figure></li>
					<li><figure><img src="images/grad/grad-venue.jpg" class="img-responsive" alt="grad-venue-image"/>
						<figcaption>Venue</figcaption></figure></li>
				</ul>
			</div>

			<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
			<a href="#" class="jcarousel-control-next">&rsaquo;</a>
		</div>
	 </div>

	<!-- Demo carousel ends -->

	<!-- Graduation section -->

	<div class="col-md-12"><h1 class="text-center">Graduation</h1></div>
	<div class="col-md-8 col-md-offset-2">

		<div class="jcarousel-wrapper">
			<div id="jc2" class="jcarousel">
				<ul>
					<li><figure><img src="images/grad/grad-photo.jpg" class="img-responsive" alt="grad-photography-image" />
						<figcaption>Photoghrapher</figcaption></figure></li>
					<li><figure><img src="images/grad/grad-catering.jpg" class="img-responsive" alt="grad-catering-image"/>
						<figcaption>Catering</figcaption></figure></li>
					<li><figure><img src="images/grad/grad-favorbags.jpg" class="img-responsive" alt="grad-favorbags-image"/>
						<figcaption>Favor Bags</figcaption></figure></li>
					<li><figure><img src="images/grad/grad-invites.jpg" class="img-responsive" alt="grad-invites-image"/>
						<figcaption>Invites</figcaption></figure></li>
					<li><figure><img src="images/grad/grad-photobooth.jpg" class="img-responsive" alt="grad-photobooth-image"/>
						<figcaption>Photo Booth</figcaption></figure></li>
					<li><figure><img src="images/grad/grad-venue.jpg" class="img-responsive" alt="grad-venue-image"/>
						<figcaption>Venue</figcaption></figure></li>
				</ul>
			</div>

			<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
			<a href="#" class="jcarousel-control-next">&rsaquo;</a>
		</div>
	</div>

	<!-- Baby Shower section -->

	<div class="col-md-12"><h1 class="text-center">Baby Shower</h1></div>
	<div class="col-md-8 col-md-offset-2">

		<div class="jcarousel-wrapper">
			<div id="jc3" class="jcarousel">
				<ul>
					<li><a href="#"><figure><img src="images/babyshower/babyshower-cake.jpg" class="img-responsive" alt="wedding-photography-image"/>
						<figcaption>Cakes</figcaption></figure></a></li>
					<li><a href=""><figure><img src="images/babyshower/babyshower-catering.jpg" class="img-responsive" alt="wedding-photography-image"/>
						<figcaption>Catering</figcaption></figure></a></li>
					<li><a href="#"><figure><img src="images/babyshower/babyshower-decor.jpg" class="img-responsive" alt="wedding-photography-image"/>
						<figcaption>Decoration</figcaption></figure></a></li>
					<li><a href="#"><figure><img src="images/babyshower/babyshower-favorbags.jpeg" class="img-responsive" alt="wedding-photography-image"/>
						<figcaption>Favor Bags</figcaption></figure></a></li>
					<li><a href="#"><figure><img src="images/babyshower/babyshower-photo.jpg" class="img-responsive" alt="wedding-photography-image"/>
						<figcaption>Photographer</figcaption></figure></a></li>
					<li><a href="#"><figure><img src="images/babyshower/babyshower-proprentals.jpeg" class="img-responsive" alt="wedding-photography-image"/>
						<figcaption>Photo Props</figcaption></figure></a></li>
					<li><a href="#"><figure><img src="images/babyshower/babyshower-venue.jpg" class="img-responsive" alt="wedding-photography-image"/>
						<figcaption>Venue</figcaption></figure></a></li>
				</ul>
			</div>

			<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
			<a href="#" class="jcarousel-control-next">&rsaquo;</a>
		</div>
	</div>

	<!-- Party section -->

	<div class="col-md-12"><h1 class="text-center">Party</h1></div>
	<div class="col-md-8 col-md-offset-2">

		<div class="jcarousel-wrapper">
			<div id="jc4" class="jcarousel">
				<ul>
					<li><a href="#"><figure><img src="images/party/party_1.jpg" class="img-responsive" alt="wedding-photography-image"/>
						<figcaption>Catering</figcaption></figure></a></li>
					<li><a href="#"><figure><img src="images/party/party_2.png" class="img-responsive" alt="wedding-photography-image"/>
						<figcaption>Decoration</figcaption></figure></a></li>
					<li><a href="#"><figure><img src="images/party/party_3.png" class="img-responsive" alt="wedding-photography-image"/>
						<figcaption>Venue</figcaption></figure></a></li>
					<li><a href="#"><figure><img src="images/party/party_4.jpg" class="img-responsive" alt="wedding-photography-image"/>
						<figcaption>Favor Bags</figcaption></figure></a></li>
					<li><a href="#"><figure><img src="images/party/party_5.jpg" class="img-responsive" alt="party-5">
						<figcaption>Party Invites</figcaption></figure></a></li>
				</ul>
			</div>

			<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
			<a href="#" class="jcarousel-control-next">&rsaquo;</a>
		</div>
	</div>
</div>

	<div class="text-center howText">
	<h2>How it works</h2>
		<br>
		<br>
		<br>
		<br>
		<br>
	</div>


	<!-- How we work -->

	<div class="container text-center bg-grey">

		<div class="row">
			<div class="col-sm-6">
				<div class="carouselWW">

					<img src="images/waterwheel1.png" id="item-1.jpg"/>
					<img src="images/waterwheel2.png" id="item-2.jpg"/>
					<img src="images/waterwheel3.png" id="item-3.jpg"/>
					<!--<img src="images/HowTo/4.jpg" id="item-4.jpg"/>-->
					<!--<img src="images/HowTo/4.jpg" id="item-5.jpg"/>-->
				</div>
			</div>

			<div class="col-sm-6 text-left" style="z-index: 5;">
				<ol>
					<li>Tell us what you need<br>
						First, select what type of pro you’re looking for.</li>
					<li>Review our vendors work<br>
						Second, you’ll be able to view the work of the pro.</li>
					<li>Hire the right pro<br>
						Finally, chose the perfect pro as per your needs.</li>
				</ol>
			</div>

	  </div>
	</div>
	<br/>
	<br/>

<!-- Testimonial videos section start -->
<div class="videosection bg-grey">
	<div class="row">
		<div class = "col-md-8 col-md-offset-2">
			<div class = "col-md-12">
				<div class = "col-md-8 video">
					<div class="embed-responsive embed-responsive-16by9" height="400" width="400">
						<iframe src="https://www.youtube.com/embed/WKgIPy7PvH0?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>

						<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/VRdaHFy0FcY" frameborder="0" allowfullscreen> -->
					</div>
				</div>
				<div class = "col-md-4 video" >
					<div class="embed-responsive embed-responsive-16by9" id="box1">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/nfbT2Z0dTHo?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
					</div>

					<div class="embed-responsive embed-responsive-16by9" id="box2">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/9g_fazqGKhM?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>

		<div class = "col-md-8 col-md-offset-2">
			<div class = "col-md-12">

				<div class = "col-md-4 video">
					<div class="embed-responsive embed-responsive-16by9" >
						<iframe width="560" height="315" src="https://www.youtube.com/embed/txc1oSsRBs8?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class = "col-md-4 video" >
					<div class="embed-responsive embed-responsive-16by9" >
						<iframe width="560" height="315" src="https://www.youtube.com/embed/1sP_oQpykio?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
				<div class = "col-md-4 video" >
					<div class="embed-responsive embed-responsive-16by9" >
						<iframe width="560" height="315" src="https://www.youtube.com/embed/lbII71GP0SU?autoplay=0&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>

			</div>
		</div>

	</div>

</div>



<!-- Testimonial videos section end -->

<!-- Footer section start -->
<div class="footersection">
	<footer id="myFooter">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h2 class="logo"><a href="#"><img src="images/logo.png"></a></h2>
				</div>
				<div class="col-sm-2">
					<h5>Get started</h5>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="/register">Sign up</a></li>
						<li><a href="/aboutus">Team</a></li>
					</ul>
				</div>
				<div class="col-sm-2">
					<h5>About us</h5>
					<ul>
						<li><a href="#">Company Information</a></li>
						<li><a href="/goToTerms">Terms</a></li>
					</ul>
				</div>
				<div class="col-sm-2">
					<h5>Support</h5>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Help desk</a></li>
						<li><a href="#">Forums</a></li>
						<li><a href="/gotoCareers">Career</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<div class="social-networks">
						<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
						<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
						<a href="#" class="google"><i class="fa fa-google-plus"></i></a>
					</div>
					<a href="/contactus" type="button" class="btn btn-default">Contact us</a>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<p>© 2016 Copyright Text </p>
		</div>
	</footer>
</div>

<!-- Footer section end -->

<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- VIDEO SCRIPT SCRIPTS  -->
<script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
<!-- WATER WHEEL -->
<script type="text/javascript" src="js/jquery.waterwheelCarousel.js"></script>

<!-- CUSTOM SCRIPTS  -->
<script src="js/custom.js"></script>




<!-- Footer section end -->

<script type="text/javascript" src="js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="js/jcarousel.responsive.js"></script>


<link rel="stylesheet" type="text/css" href="css/jcarousel.responsive.css">

<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- VIDEO SCRIPT SCRIPTS  -->
<script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
<!-- WATER WHEEL -->
<script type="text/javascript" src="js/jquery.waterwheelCarousel.js"></script>

<!-- CUSTOM SCRIPTS  -->
<script src="js/custom.js"></script>

<script src="js/searchj.js"></script>
