<div class="container" style="color:white">
<div id="platinumSection" class="bg_container" >

      
	<h2><br><strong>Platinum Wedding Package</strong></h2>
	<h3> From venue to photography, we bring you the right pros for every event in your life</strong></h3>
	<h3><strong> Total package cost : $10,000</strong></h3>
         

</div>
<br>

<div class = "row">
<div class="col-md-12">
<div class="col-md-8 col-md-offset-2">
<div class = "row">
	<div class = "col-md-12 ">
	
		<div class = "col-md-6">
				
				<figure>
				  <img src="images/c2.jpg" height ="300px" width="440px">
				  <figcaption><strong>Photographer</strong></figcaption>
				</figure>
		</div>
		<div class = "col-md-6" >
		
		<p><h3>Karl Taylor has been a professional photographer for over 20 years and has travelled the globe on assignments for some of the world’s most successful companies.</h3></p>
		<br><br><br><br><br><br><br><br><br><br><br><br>
		</div>
		</div>
				
			
	
</div>

<br>

<div class = "row">
	<div class = "col-md-12 ">
		<div class = "col-md-6">
				<br>
				<p><h3>At Crestwood, we provide the perfect setting for your wedding, corporate retreat, or private event. We can host events in a variety of settings, from our fireside dining and library areas to our lawn and terrace with breathtaking views. Please contact our Events Manager at events@eliteevents.com if you would like to inquire about hosting your next event at Crestwood. </h3></p>
		
		</div>
		<div class = "col-md-6">
		
		<figure>
				  <img src="images/wedding-venue.jpg" height ="300px" width="440px">
				  <figcaption><strong>Venue</strong></figcaption>
				</figure>
		
		</div>
				
			
	</div>
</div>

<br>

<div class = "row">
	<div class = "col-md-12">
		<div class = "col-md-6">
				
				<figure>
				  <img src="images/wedf.jpg" height ="300px" width="440px">
				  <figcaption><strong>Food</strong></figcaption>
				</figure>
		</div>
		<div class = "col-md-6">
		<br>
		<p><h3>A Wedding may be the single most important day of your life, so choosing a Caterer for your Wedding Day is no simple task. Feel free to glance over our brief introduction to Emery's Wedding Catering and let us know if we can be of service.</h3></p>
		</div>
				
			
	</div>
</div>
<br>
<div class = "row">
	<div class = "col-md-12">
		<div class = "col-md-6">
				<br>
				<p><h3>Crystal Springs Resort hosts wedding receptions in any of four magnificent indoor and unique outdoor venues from intimate weddings to multi-day events. Conveniently located in the beautiful mountains of New Jersey's Sussex Skylands, the resort's venues - Ballyowen, Black Bear, Minerals Hotel and Grand Cascades Lodge - each offer a one of a kind setting.  Each resort wedding venue hosts only one wedding a day, guaranteeing that your special day is just for you.</h3></p>

		</div>
		<div class = "col-md-6">
		<br>
		
		<figure>
				  <img src="images/weddec.jpg" height ="300px" width="440px">
				  <figcaption><strong>Decoration</strong></figcaption>
				</figure>
		</div>
				
			
	</div>
</div>
</div>
</div>
</div>
</div>
