<div class="container" >
    <br>
    <br>

    <div class="row">
        <div class="col-md-12"></div>
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-4">
                <hr>
                <h2 class="text-center">Testimonials</h2>
                <hr>
                <br>
                <div class="row">
                    <p>Our client's feedback are the greatest testimony of our work. They rmeind us why we love what we do! Please read here about some firsthand experience working with us.</p>
                </div>
            </div>
            <br>
            <br>
            <!-- Reviews start -->
            <div class="col-md-7 col-md-offset-1">
                <!-- Review 1 starts -->
                <div class="row">
                    <div class="col-md-6">
                        <p><q><i>Working with Elite Events was a pleasure from the the start. We felt that we were always in very good hands however we didn’t really appreciate it until the day before and day of the wedding. Every thing went so smoothly and we were able to truly enjoy the day. Thank you so much for everything!</i></q></p>
                        <br>
                        <i><b>Mr. and Mrs. Stuart</b><br>
                            Parents of Bride</i>
                    </div>
                    <div class="col-md-6">
                        <a href="#"><img src="images/testimonials/weddingrev.jpg" class="img-responsive" alt="wedding-photography-image"	/></a>
                        <p><small><i>Photo By: Laura Huff</i></small></p>
                    </div>
                </div>
                <!-- Review 1 ends -->
                <hr>
                <!-- Review 2 starts -->
                <div class="row">
                    <div class="col-md-6">
                        <a href="#"><img src="images/testimonials/chrispartyrev.jpg" class="img-responsive" alt="wedding-photography-image"	/></a>
                        <p><small><i>Photo By: John Wilcox</i></small></p>
                    </div>
                    <div class="col-md-6">
                        <p><q><i>Decision to chose vendors from Elite Events was absolutely the best one! We couldn't ask for a better Christmas party!!!</i></q></p>
                        <i><b>David Scherer</b><br>
                            The Host</i>
                    </div>
                </div>
                <!-- Review 2 ends -->
                <hr>
                <!-- Review 3 starts -->
                <div class="row">
                    <div class="col-md-6">
                        <p><q><i>Planning for my sister's baby shower was the greatest challenge for me. Elie Events saved all my time by providing me with the best baby shower vendors all at one place. You guys made for an amazing baby shower! Thank you very much</i></q></p>
                        <i><b>Ms. Stacy Barnett</b><br>
                            Sister</i>
                    </div>
                    <div class="col-md-6">
                        <a href="#"><img src="images/testimonials/babyshowerreview.jpg" class="img-responsive" alt="wedding-photography-image"	/></a>
                        <p><small><i>Photo By: Stella Young</i></small></p>
                    </div>
                </div>
                <!-- Review 3 ends -->
                <hr>
                <!-- Review 4 starts -->
                <div class="row">
                    <div class="col-md-6">
                        <a href="#"><img src="images/testimonials/weddingfamrev.jpg" class="img-responsive" alt="wedding-photography-image"	/></a>
                        <p><small><i>Photo By: Allen Jones</i></small></p>
                    </div>
                    <div class="col-md-6">
                        <p><q><i>Thank you very much for helping us plan our wedding! You were so fun to work with and you somehow brought all of the details together. The vendors you recommended were wonderful and we had such a great time. Your put us at ease and made the planning fun. You are so creative and you really helped turn all of my ideas into our beautiful wedding.</i></q></p>
                        <i><b>Mrs. Cooper</b><br>
                            Bride</i>
                    </div>
                </div>
                <!-- Review 4 ends -->
                <hr>
                <!-- Review 5 starts -->
                <div class="row">
                    <div class="col-md-6">
                        <p><q><i>To be with old friends is very warming and comforting and we had the best experience of it with the Elite team! You guys rock!!!</i></q></p>
                        <i><b>Shane Warren</b><br>
                            The Host</i>
                    </div>
                    <div class="col-md-6">
                        <a href="#"><img src="images/testimonials/reunionrev.jpg" class="img-responsive" alt="wedding-photography-image"	/></a>
                        <p><small><i>Photo By: Sasha</i></small></p>
                    </div>
                </div>
                <!-- Review 5 ends -->

            </div>
            <!-- Reviews end -->
        </div>
    </div>
</div>

<br>
